anyio==3.5.0
async-generator==1.10
attrs==21.4.0
Authlib==1.0.1
autopep8==1.6.0
backtrader==1.9.76.123
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.9
cryptography==36.0.2
cycler==0.11.0
eventkit==0.8.9
exchange-calendars==3.6.1
fonttools==4.28.4
h11==0.12.0
httpcore==0.14.7
httpx==0.22.0
ib-insync==0.9.70
idna==3.3
kiwisolver==1.3.2
korean-lunar-calendar==0.2.1
lxml==4.7.1
matplotlib==3.5.1
multitasking==0.0.10
nest-asyncio==1.5.5
numpy==1.21.4
outcome==1.1.0
packaging==21.3
pandas==1.3.5
pandas-market-calendars==3.4
Pillow==8.4.0
prompt-toolkit==3.0.29
pycodestyle==2.8.0
pycparser==2.21
pyluach==1.4.1
pyOpenSSL==22.0.0
pyparsing==3.0.6
PySocks==1.7.1
python-dateutil==2.8.2
pytz==2021.3
pytz-deprecation-shim==0.1.0.post0
QuantStats==0.0.47
requests==2.26.0
rfc3986==1.5.0
scipy==1.7.3
seaborn==0.11.2
selenium==4.1.3
six==1.16.0
sniffio==1.2.0
sortedcontainers==2.4.0
ta==0.8.0
tabulate==0.8.9
tda-api==1.5.3
toml==0.10.2
toolz==0.11.2
trio==0.20.0
trio-websocket==0.9.2
tzdata==2022.1
tzlocal==4.2
urllib3==1.26.7
wcwidth==0.2.5
websockets==10.3
wsproto==1.1.0
yfinance==0.1.67
