backtrader==1.9.76.123
certifi==2021.10.8
charset-normalizer==2.0.9
cycler==0.11.0
eventkit==0.8.9
exchange-calendars==3.6.1
fonttools==4.28.4
ib-insync==0.9.70
idna==3.3
kiwisolver==1.3.2
korean-lunar-calendar==0.2.1
lxml==4.7.1
matplotlib==3.5.1
multitasking==0.0.10
nest-asyncio==1.5.5
numpy==1.21.4
packaging==21.3
pandas==1.3.5
pandas-market-calendars==3.4
Pillow==8.4.0
pyluach==1.4.1
pyparsing==3.0.6
python-dateutil==2.8.2
pytz==2021.3
pytz-deprecation-shim==0.1.0.post0
QuantStats==0.0.47
requests==2.26.0
scipy==1.7.3
seaborn==0.11.2
six==1.16.0
ta==0.8.0
tabulate==0.8.9
toolz==0.11.2
tzdata==2022.1
tzlocal==4.2
urllib3==1.26.7
yfinance==0.1.67
